<div class="carousel-row">
  <ul class="elements">
    <li class="entrantesImg">
      <span>Entrantes</span>
    </li>
    <li class="pastaImg">
      <span>Pasta</span>
    </li>
    <li class="pizzaImg">
      <span>Pizza</span>
    </li>
    <li class="snacksImg">
      <span>Snacks</span>
    </li>
    <li class="platosImg">
      <span>Platos Combinados</span>
    </li>
    <li class="carnesImg">
      <span>Carnes</span>
    </li>
    <li class="pescadoImg">
      <span>Pescado</span>
    </li>
    <li class="polloasadoImg">
      <span>Pollo Asado</span>
    </li>
    <li class="comidamexicanImg">
      <span>Comida Mexicana</span>
    </li>
    <li class="postreImg">
      <span>Postre</span>
    </li>
    <li class="bebidasImg">
      <span>Bebidas</span>
    </li>
  </ul>

</div>
